.goBack{
    position: fixed;
    top:3%;
    right:5%;
    z-index:1;
    font-weight: 500;
    /* animation: fadeIn ease 5s; */
  }

  #link_text_home{
    font-size: 1.5vw;
    text-align: right;
    z-index:1;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 70px;
    color:rgb(228, 151, 17);
    text-decoration: none;
  }

  #link_text_home:hover{
    color:rgb(228, 151, 17);
  }

 